<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/user" class="btn btn-link">پنل کاربری</a></li>
        <li class="list-group-item">
            <a href="/user/edit-profile" class="btn btn-link">ویرایش اطلاعات</a>
        </li>
        <li class="list-group-item">
            <a href="/open-order" class="btn btn-link">سبد خرید</a>
        </li>
        <li class="list-group-item">
            <a href="/log-out" class="btn btn-link">خروج</a></li>
    </ul>
</div>