{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>صفحه اصلی | فروشگاه کتاب</title>
    </head><!--/head-->
    {% include 'shared/_HeaderReferences.html' %}

<body >
{% render_partial 'header' %}
{% block content %}{% endblock %}
{% render_partial 'footer' %}
{% include 'shared/_FooterReferences.html' %}
</body>
</html>